.img
  content url(../img.png)
  content url(../not-exist.png)
  background url(deep-img.png)
  background url(http://example.com/img.png)
  background url(!!deep-img.png)
  background url(file!deep-img.png)
  background url(file?foo!deep-img.png)
