logs
*.log
npm-debug.log*
.eslintcache

/coverage
/dist
/local
/reports
/node_modules
/test/fixtures/node_modules/like-a-glob*
/test/fixtures/node_modules/webpack-like-a-glob-package-name*
/test/fixtures/import-webpack-dir-like-a-glob-win32.styl

.DS_Store
Thumbs.db
.idea
*.iml
.vscode
*.sublime-project
*.sublime-workspace
