@import 'aa';

.a {
  color: #aaa;
}

.a1 {
  color: #aaa;
}

.a2 {
  color: #aaa;
}

.a3 {
  color: #aaa;
}

.a4 {
  color: #aaa;
}

.a5 {
  color: #aaa;
}

.a6 {
  color: #aaa;
}

.a7 {
  color: #aaa;
}

.a8 {
  color: #aaa;
}

.a9 {
  color: #aaa;
}
