.b {
  color: #bbb;
}

.b1 {
  color: #bbb;
}

.b2 {
  color: #bbb;
}

.b3 {
  color: #bbb;
}

.b4 {
  color: #bbb;
}

.b5 {
  color: #bbb;
}

.b6 {
  color: #bbb;
}

.b7 {
  color: #bbb;
}

.b8 {
  color: #bbb;
}

.b9 {
  color: #bbb;
}
