.c {
  color: #ccc;
}

.c1 {
  color: #ccc;
}

.c2 {
  color: #ccc;
}

.c3 {
  color: #ccc;
}

.c4 {
  color: #ccc;
}

.c5 {
  color: #ccc;
}

.c6 {
  color: #ccc;
}

.c7 {
  color: #ccc;
}

.c8 {
  color: #ccc;
}

.c9 {
  color: #ccc;
}
