.d {
  color: #ddd;
}

.d1 {
  color: #ddd;
}

.d2 {
  color: #ddd;
}

.d3 {
  color: #ddd;
}

.d4 {
  color: #ddd;
}

.d5 {
  color: #ddd;
}

.d6 {
  color: #ddd;
}

.d7 {
  color: #ddd;
}

.d8 {
  color: #ddd;
}

.d9 {
  color: #ddd;
}
